<%- include('partials/header', { title: 'Accueil - Dincosarl' }) %>

<!-- Header Banner Start  -->
<div class="container header-content">
    <div class="row">
        <div class="col-md-6 centralize">
            <div class="left-content">
                <h2>Aidez votre <span class="highlight">Entreprise</span> à se développer jusqu'à un niveau <span class="highlight">élevé</span></h2>
                <p>Chez DINCO Sarl, nous vous aidons à élever votre entreprise avec des services de qualité en mécatronique, électricité, import et export. Nos solutions innovantes sont adaptées à vos besoins pour optimiser votre performance et accéder à des marchés internationaux.</p>
                <div class="call-to-action">
                    <button>Travaillez avec nous <i class="fas fa-angle-right"></i></button>
                    <a href="#">Voir notre portfolio <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="right-content">
                <img src="/images/Header vector.svg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Header Banner End -->

<!-- Work Process Start -->
<section class="work-process section-padding" style="background: #fff;">
    <div class="container">
        <div class="row">
            <% sections.filter(section => section.sectionName === 'work-process').forEach(section => { %>
                <div class="col-md-4">
                    <div class="process-block">
                        <img src="<%= section.image %>" alt="<%= section.title %>">
                        <h3><%= section.title %></h3>
                        <p><%= section.content %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>
<!-- Work Process End -->

<!-- Services Start -->
<section class="services section-padding">
    <div class="container">
        <div class="row">
            <h2 class="text-center w-100 service-heading">Nos Services pour <span class="highlight">Booster Votre Entreprise</span></h2>
        </div>
    </div>
    <div class="container text-center mt-5">
        <div class="row mx-auto my-auto">
            <div id="servicesCarousel" class="carousel slide w-100" data-ride="carousel">
                <div class="service-carousel carousel-inner w-100" role="listbox">
                    <% sections.filter(section => section.sectionName === 'services').forEach((section, index) => { %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card service-card" style="width: 18rem;">
                                    <img class="card-img-top" src="<%= section.image %>" alt="<%= section.title %>">
                                    <div class="card-body bg-white">
                                        <h5 class="card-title"><%= section.title %></h5>
                                        <p class="card-text"><%= section.content %></p>
                                        <a href="#" class="service-link">En savoir plus <i class="fas fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <a class="carousel-control-prev w-auto" href="#servicesCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon service-control-prev" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next w-auto" href="#servicesCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon service-control-next" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->

<!-- Testimonial Start -->
<section class="testimonial section-padding">
    <div class="container">
        <div class="card col-md-12 mt-2">
            <div id="testimonialCarousel" class="carousel slide" data-ride="carousel" data-interval="100000">
                <div class="carousel-inner w-100 mb-5" role="listbox">
                    <% sections.filter(section => section.sectionName === 'testimonial').forEach((section, index) => { %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                            <div class="row">
                                <div class="col-lg-7 d-flex flex-column justify-content-center">
                                    <div class="testimonial-description">
                                        <h3><%= section.title %></h3>
                                        <div class="client-meta-data">
                                            <h5>Client Name</h5>
                                            <p>Client Position</p>
                                            <p class="clients-feedback"><%= section.content %></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="client-picture">
                                        <img src="<%= section.image %>" alt="Client Image" class="img-fluid" />
                                        <img src="/images/coma.svg" alt="Quotation Mark" class="coma" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <a class="carousel-control-prev testimonial-control" href="#testimonialCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon testimonial-control-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next testimonial-control" href="#testimonialCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon testimonial-control-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial End -->

<%- include('partials/footer') %>
